<dx-data-grid
  id="grid"
  [dataSource]="dataSource"
  [repaintChangesOnly]="true"
  [showBorders]="true">
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-editing
    mode="cell"
    [refreshMode]="refreshMode"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">
  </dxo-editing>

  <dxi-column dataField="_id" caption="Task" [allowEditing]="false">
  </dxi-column>
  <dxi-column dataField="title" caption="Title"> </dxi-column>
  <dxi-column dataField="description" caption="Description"></dxi-column>
  <dxi-column dataField="done" caption="Completed"></dxi-column>
  <dxi-column dataField="createdAt" caption="Created" dataType="date"  [allowEditing]="false"></dxi-column>
  <dxo-summary>
    <dxi-total-item column="_id" summaryType="count"> </dxi-total-item>
  </dxo-summary>
</dx-data-grid>
